        * {
            box-sizing: border-box;
            background-color: #218289;
        }
        body {
            margin: 0;
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            
        }
        a {
            text-decoration: none;
            color: white;      
            padding: 10px;
            border-radius: 10px;
            background-color: #4c8f94;
        }
        h2 {
            color: white;
        }
        .container {
            
        }
        .gallery img{
            max-width: 100%;
        }

        @media screen and (min-width: 769px) {
            a {
                font-size: 1.5rem;
            }
        }