        * {
            box-sizing: border-box;
            background-color: #218289;
        }
        body {
            margin: 0;
            padding-top: 30px;
            background-color: aliceblue;
        }
        nav {
  overflow: auto;
}
nav ul {
  display: none;
}
nav ul li {

    padding: 15px;
}
nav .hamb-label {
  position: relative;
  width: 64px;
  cursor: hand;
  float: right;
  padding: 20px;
}
nav .hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0.1s ease;
}
nav .hamb-line.line1 {
  top: 10px;
}
nav .hamb-line.line2 {
  top: 18px;
}
nav .hamb-line.line3 {
  top: 26px;
}
nav .hamb-checkbox {
  display: none;
}
nav .hamb-checkbox:checked ~ ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  clear: right;
}
nav .hamb-checkbox:checked ~ .hamb-label .line1 {
  transform: rotate(45deg);
  top: 18px;
}
nav .hamb-checkbox:checked ~ .hamb-label .line2 {
  background-color: transparent;
}
nav .hamb-checkbox:checked ~ .hamb-label .line3 {
  transform: rotate(-45deg);
  top: 18px;
}
.header-logo {
    display: none;
}
        .container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background-color: #218289;
            border-bottom: white 1px solid;
        }
        .container img {
            margin: 10px;
            max-width: 100px;
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: left;
            padding-left: 10px;
            align-items: center;
            
        }
        a {
            text-decoration: none;
            color: white;      
            padding: 10px;
            border-radius: 10px;
            background-color: #4c8f94;
            margin: 10px;
            
        }
        .desktop-only-text {
            display: none;
        }
        h2 {
            color: white;
        }
        .gallery {
            padding: 10px;
        }
        .gallery img{
            max-width: 100%;
        }
        .small-beach-text {
            color: aliceblue;
            font-size: 2rem;
            padding-left: 20px;
        }

        .koum-kapi {
            padding: 30px;
            color: rgb(209, 210, 212);
        }
        .great-views-text {
            background-color: aliceblue;
        }
        @media screen and (min-width: 769px) {
            a {
                font-size: 1.5rem;
            }
            .desktop-only-text {
            color: white;
            font-size: 2rem;
            display: block;
            padding-left: 50px;
        }
        h2 {
            padding-left: 30px;
            font-size: 2rem;
        }
        img {
            border: 5px solid #218289;
        }
        .living-room, .double-bedroom, .single-bedroom, .kitchen, .bathroom, .balcony, .appliances {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;
        }
        .small-beach {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;
        }
        .koum-kapi {
            font-size: 2rem;
        }

        }