
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* box-sizing: border-box; */
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
}
body {
    border: #218289 solid 5px;
}
.header {
    background-image: url("assets/header.jpg");
    background-size: cover;
    min-height: 300px;

}
.header div {
        border: solid red 2px;
        min-height: 300px;
}
.header-text {
    display: grid;
    grid-template-rows: 25% 25% 50%;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "firstline firstline"
    "central central"
    "house book";
}
    .header-text p:nth-child(1) {
    border: black solid 2px;
    height: auto;
    grid-area: firstline;
    color: whitesmoke;
    text-align: center;
    border-bottom: solid 2px white;
    margin: 0;
    font-size: 1em;
}
.header-text p:nth-child(2) {
    grid-area: central;
    color: whitesmoke;
    text-align: center;
    font-size: 1em;
}


.header-text h1 {
    grid-area: house;
    color: white;
    font-weight: 100;
    
    /* margin-right: auto; */

    

}
.header-text button {
    grid-area: book;
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: none;
    padding-right: 20px;
}
.header-text button:hover {
    color: #218289;
}
main .flex {
    display: flex;
    justify-content: space-between;
    background-color: #218289;
    align-items: center;
    
}
main .flex img {
    width: 40%;
    
}
main .flex .flex-left {
    background-color: #218289;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 20px;
    color: whitesmoke;
    font-weight: 300;
}
.description {
    display: flex;
    justify-content: space-between;
    color: #218289;
    gap: 40px;
    align-items: center;
    font-size: larger;
    

}
.desc-left {
    flex: 1;
    padding-left: 20px;
}
.desc-right {
    flex: 1;
    padding-right: 20px;
}
.appartment {
    display: flex;
    flex-direction: column;
}
.appartment-header {
    display: flex;
}
.appartment img {
    width: 50%;
}


@media screen and (min-width: 1000px){
    .header {
    background-image: url("assets/header.jpg");
    background-size: cover;
    min-height: 500px;

}
.header div {
    min-height: 500px;
}
    .header-text {
    display: grid;
    grid-template-rows: 40% 10% 50%;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "firstline firstline"
    "central central"
    "house book";
}
.header-text p:nth-child(1) {
    border: black solid 2px;
    height: auto;
    grid-area: firstline;
    color: whitesmoke;
    text-align: center;
    border-bottom: solid 2px white;
    margin: 0;
    font-size: 2em;
}
.header-text p:nth-child(2) {
    grid-area: central;
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
}
main .flex {
    display: flex;
    justify-content: space-between;
    background-color: #218289;
    align-items: center;
    
}
main .flex img {
    width: 40%;
    
}
main .flex .flex-left {
    background-color: #218289;
    font-size: 5rem;
    padding-left: 50px;
    padding-top: 20px;
    color: whitesmoke;
    font-weight: 300;
}
}