        * {
            box-sizing: border-box;
            font-family: 'Nunito Sans', sans-serif;
        }
        body {
            margin: 0;
            padding-top: 30px;
            background-color: aliceblue;
            color: #218289;
        }
                nav {
  overflow: auto;
}
nav ul {
  display: none;
}
nav ul li {

    padding: 15px;
}
nav .hamb-label {
  position: relative;
  width: 64px;
  cursor: hand;
  float: right;
  padding: 20px;
}
nav .hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0.1s ease;
}
nav .hamb-line.line1 {
  top: 10px;
}
nav .hamb-line.line2 {
  top: 18px;
}
nav .hamb-line.line3 {
  top: 26px;
}
nav .hamb-checkbox {
  display: none;
}
nav .hamb-checkbox:checked ~ ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  clear: right;
}
nav .hamb-checkbox:checked ~ .hamb-label .line1 {
  transform: rotate(45deg);
  top: 18px;
}
nav .hamb-checkbox:checked ~ .hamb-label .line2 {
  background-color: transparent;
}
nav .hamb-checkbox:checked ~ .hamb-label .line3 {
  transform: rotate(-45deg);
  top: 18px;
}
.header-logo {
    display: none;
}
                .container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background-color: #218289;
        }
        .container img {
            margin: 10px;
            max-width: 100px;
        }
                ul {
            list-style-type: none;
            display: flex;
            justify-content: left;
            padding-left: 10px;
            align-items: center;
            
        }
        a {
            text-decoration: none;
            color: white;      
            padding: 10px;
            border-radius: 10px;
            /* background-color: #4c8f94; */
            margin: 10px;
            
        }
        .desktop-only-text {
            display: none;
        }
        .great-views-text {
            padding: 20px;
            text-align: center;
        }
        /* file house-description.html */
        .description {
            padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
        }
        .description h2 {
            color: #14545a; /* πιο σκούρο απόχρωση για να ξεχωρίζει από το κείμενο */
    margin-top: 40px;
    margin-bottom: 15px;
        }
        .description p {
            margin-bottom: 20px;
        }
        /* file koum-kapi.html */
.koum-kapi {
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.koum-kapi h2 {
    color: #14545a; /* πιο σκούρο απόχρωση για να ξεχωρίζει από το κείμενο */
    margin-top: 40px;
    margin-bottom: 15px;
}

.koum-kapi p {
    margin-bottom: 20px;
}
.amenities-text {
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
}
.amenities-text h3 {
    color: #14545a; /* πιο σκούρο απόχρωση για να ξεχωρίζει από το κείμενο */
    margin-top: 40px;
    margin-bottom: 15px;

}
.amenities-text p {
    margin-bottom: 20px;
}
        @media screen and (min-width: 769px) {
                body {
            font-size: 1.5rem;
            margin: 0;
            padding-top: 200px;
                                }
                .header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("assets/header.jpg");
    background-size: cover;
    min-height: 500px;

}
.header-logo {
    display: block;
}
      nav .hamb-label {
    display: none;
  }
   nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        align-items: center;
        
    }

      nav ul li {
    height: unset;
    width: unset;
    border: none;
    padding: 0;

  }
            .desktop-only-text {
            color: white;
            font-size: 2rem;
            display: none;
            padding-left: 50px;
        }
            .great-views-text {
                font-size: 2rem;
                padding: 50px;
            }
        }


        @media screen and (min-width: 1000px) {
          .desktop-only-text {
            display: block;
            color: aliceblue;
        }
                .description {
            padding: 50px 150px;
            /* text-align: justify; */
            max-width: 900px;
        }
    .koum-kapi {
        padding: 50px 150px;
        max-width: 900px;
    }
    .amenities-text {
        padding: 50px 150px;
        max-width: 900px; 
    }
}